<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="description" content="ARTS1422 Group 7">
    <title>Group 7</title>
    <style>
        body {
            margin: 0;
            font: 13px/1.5 "Microsoft YaHei", "Helvetica Neue", "Sans-Serif";
            width: 100%;
            height: 100vh;
        }

        .my-map {
            margin: 0 auto;
            width: 100%;
            height: 90vh;
        }

        .amap-container {
            height: 100%;
        }

        .myinfowindow {
            width: 240px;
            min-height: 50px;
        }

        .myinfowindow h5 {
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            font-size: 14px;
            font-weight: bold;
            width: 220px;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }

        .myinfowindow div {
            margin-top: 10px;
            min-height: 40px;
            line-height: 20px;
            font-size: 13px;
            color: #6f6f6f;
        }

        div.left-panel {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 243px;
            height: 487px;
            /*border: 3px solid #73AD21;*/
        }
    </style>
</head>
<body>
<div id="wrap" class="my-map">
    <div id="mapContainer" class="amap-container"></div>
    <div id="left-panel" class="left-panel"></div>
</div>

<script type="text/javascript">
    window._AMapSecurityConfig = {
        serviceHost: '/_AMapService'
    }
</script>
<script src="static/panel.js"></script>
<script src="static/iconGen.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="//webapi.amap.com/maps?v=1.4.15&key=c47c57fecbe4f750cdb90854f1c9a814"></script>
<script>
    function genMarker(data) {
        let feature;
        switch (data.type) {
            case "Station": {
                feature = new AMap.Marker({
                    position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat), zIndex: 3, title: data.name,
                    content: fire_station_icon(data.level), offset: new AMap.Pixel(data.offset.x, data.offset.y),
                    extData: data

                });
                AMap.event.addListener(feature, "click", mapFeatureClick);
                break;
            }
            case "Fire": {
                feature = new AMap.Marker({
                    position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat), zIndex: 3, title: data.name,
                    content: fire_icon(data.level), offset: new AMap.Pixel(data.offset.x, data.offset.y),
                    extData: data
                });
                AMap.event.addListener(feature, "click", mapFeatureClick);
                break;
            }
            case "Population": {
                let path = [
                    new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
                    new AMap.LngLat(data.lnglat.lng, data.lnglat.lat + 0.027),
                    new AMap.LngLat(data.lnglat.lng + 0.027, data.lnglat.lat),
                    new AMap.LngLat(data.lnglat.lng + 0.027, data.lnglat.lat + 0.027)
                ]
                feature = new AMap.Polygon({
                    map: map, path: path, extData: data, zIndex: 1,
                    fillColor: 'rgb(227, 209, 110)', fillOpacity: data.opacity
                });
                break;
            }
        }
        return feature;
    }

    function addFeature(data) {
        let feature, j, jl, path;
        switch (data.type) {
            case "Marker":
                feature = new AMap.Marker({
                    map: map, position: new AMap.LngLat(data.lnglat.lng, data.lnglat.lat),
                    zIndex: 3, extData: data, offset: new AMap.Pixel(data.offset.x, data.offset.y), title: data.name,
                    content: fire_station_icon(data.level)
                });
                break;
            case "Polyline":
                for (j = 0, jl = data.path.length, path = []; j < jl; j++) {
                    path.push(new AMap.LngLat(data.path[j].lng, data.path[j].lat));
                }
                feature = new AMap.Polyline({
                    map: map, path: path, extData: data, zIndex: 2,
                    strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity
                });
                break;
            case "Polygon":
                for (j = 0, jl = data.path.length, path = []; j < jl; j++) {
                    path.push(new AMap.LngLat(data.path[j].lng, data.path[j].lat));
                }
                feature = new AMap.Polygon({
                    map: map, path: path, extData: data, zIndex: 1,
                    strokeWeight: data.strokeWeight, strokeColor: data.strokeColor, strokeOpacity: data.strokeOpacity,
                    fillColor: data.fillColor, fillOpacity: data.fillOpacity
                });
                break;
            default:
                feature = null;
        }
        if (feature) {
            AMap.event.addListener(feature, "click", mapFeatureClick);
        }
    }

    let infoWindow, map, level = 12,
        // center = {lng: 119.50501, lat: 29.897525}, // amap location
        center = {lng: 119.5, lat: 29.9}, // amap location
        features = [];

    // var gps = [119.5, 29.9];
    // AMap.convertFrom(gps, 'gps', function (status, result) {
    //     if (result.info === 'ok') {
    //         var lnglats = result.locations; // Array.<LngLat>
    //         console.log(lnglats);
    //     }
    // });

    function mapFeatureClick(e) {
        if (!infoWindow) {
            infoWindow = new AMap.InfoWindow({autoMove: true, isCustom: false});
        }
        var extData = e.target.getExtData();
        infoWindow.setContent("<div class='myinfowindow'><h5>" + extData.name + "</h5><div>" + extData.desc + "</div></div>");
        infoWindow.open(map, e.lnglat);
    }

    map = new AMap.Map("mapContainer",
        {
            mapStyle: "amap://styles/7ee3a74e7122d6cff8845b7085c0b971",
            center: new AMap.LngLat(center.lng, center.lat),
            level: level,
            keyboardEnable: true,
            dragEnable: true,
            scrollWheel: true,
            doubleClickZoom: true
        });
    new AMap.TileLayer.RoadNet({map: map, zIndex: 2});
    for (let i = 0, len = features.length; i < len; i++) {
        addFeature(features[i]);
    }

    map.on('complete', function () {
        map.plugin(["AMap.OverView", "AMap.Scale"], function () {
            map.addControl(new AMap.OverView({isOpen: true}));
            map.addControl(new AMap.Scale);
        });
        console.log("Complete!");
    });

</script>
<script>
    /* Helper function */
    function isEarlierEqual(a, b) {
        if (a.year < b.year) return true;
        if (a.year > b.year) return false;
        // Same year
        return a.month <= b.month;
    }

</script>

<script>
    let marker_fire_stations = [];
    d3.json("/data/fire_station.json", function (data) {
        for (const dataKey in data) {
            let record = data[dataKey];
            marker_fire_stations.push(genMarker({
                "type": "Station", "lnglat": {"lng": record[2], "lat": record[1]},
                "name": "fire_station " + dataKey, "level": 1,
                "offset": {"x": -fire_station_icon.side_length / 2, "y": -fire_station_icon.side_length / 2},
                "year": record[5], "month": record[4], "district": record[0]
            }))
        }
        display_fire_station(2007, 1);
    })

    function display_fire_station(year, month) {
        for (const markerFireStation of marker_fire_stations) {
            let data = markerFireStation.getExtData();
            if (isEarlierEqual(data, {"year": year, "month": month})) {
                map.add(markerFireStation);
            } else {
                map.remove(markerFireStation);
            }
        }
    }

    let marker_fire = {
        "year": {},
        "month": {},
        "type": {},
        "key_fighter": {},
        "fighter": {}
    };
    d3.json("/data/fire.json", function (data) {
        for (const dataKey in data) {
            let record = data[dataKey];
            let marker = genMarker({
                "type": "Fire", "lnglat": {"lng": record["lnglat"][0], "lat": record["lnglat"][1]},
                "name": "fire " + dataKey,
                "offset": {"x": -fire_icon.side_length / 2, "y": -fire_icon.side_length / 2}, "level": 1,
                "time": new Date(record["time"])
            })

            for (const fighter of record["fighters"]) {
                if (marker_fire["fighter"][fighter] === undefined) {
                    marker_fire["fighter"][fighter] = [marker];
                } else {
                    marker_fire["fighter"][fighter].push(marker);
                }
            }
            if (marker_fire["key_fighter"][record["key_fighter"]] === undefined) {
                marker_fire["key_fighter"][record["key_fighter"]] = [marker];
            } else {
                marker_fire["key_fighter"][record["key_fighter"]].push(marker);
            }
            if (marker_fire["type"][record["type"]] === undefined) {
                marker_fire["type"][record["type"]] = [marker];
            } else {
                marker_fire["type"][record["type"]].push(marker);
            }
            let year = String(new Date(record["time"]).getFullYear());
            let month = String(new Date(record["time"]).getMonth());
            if (marker_fire["year"][year] === undefined) {
                marker_fire["year"][year] = [marker];
            } else {
                marker_fire["year"][year].push(marker);
            }
            if (marker_fire["month"][month] === undefined) {
                marker_fire["month"][month] = [marker];
            } else {
                marker_fire["month"][month].push(marker);
            }
        }
        display_fire({"year": 2020, "month": 7}, {"year": 9999, "month": 1});
    })

    /* from/to: {"year": 2004, "month": 4}*/
    function display_fire(from, to) {
        for (let i = from.year; i <= to.year; i++) {
            let group = marker_fire.year[i];
            if (group === undefined) continue;
            for (const groupElement of group) {
                let timestamp = groupElement.getExtData().time;
                if (isEarlierEqual(from, {"year": timestamp.getFullYear(), "month": timestamp.getMonth()}) &&
                    isEarlierEqual({"year": timestamp.getFullYear(), "month": timestamp.getMonth()}, to)) {
                    map.add(groupElement);
                } else {
                    map.remove(groupElement);
                }
            }
        }
    }

    let population_industry = []
    d3.text("/data/population_industry.csv", function (text) {
        population_industry = d3.csvParseRows(text, d => d.map(Number));
        for (const locationElement of population_industry) {

        }
    });

    function display_population(from, to) {
        let begin_column = (from.year - 2007) * 12 + from.month - 1;
        let end_column = (to.year - 2007) * 12 + to.month - 1;
    }
</script>

</body>
</html>