<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="description" content="ARTS1422 Group 7">
    <title>Group 7</title>
    <style>
        body {
            margin: 0;
            font: 13px/1.5 "Microsoft YaHei", "Helvetica Neue", "Sans-Serif";
            width: 100%;
            height: 100vh;
        }

        .my-map {
            margin: 0 auto;
            width: 100%;
            height: 100vh;
        }

        .amap-container {
            height: 100%;
        }

        .myinfowindow {
            width: 240px;
            min-height: 50px;
        }

        .myinfowindow h5 {
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            font-size: 14px;
            font-weight: bold;
            width: 220px;
            text-overflow: ellipsis;
            word-break: break-all;
            white-space: nowrap;
        }

        .myinfowindow div {
            margin-top: 10px;
            min-height: 40px;
            line-height: 20px;
            font-size: 13px;
            color: #6f6f6f;
        }

        div.left-panel {
            position: absolute;
            top: 10%;
            left: 5%;
            width: 243px;
            height: 487px;
            z-index: 400;
            /*border: 3px solid #73AD21;*/
        }

        div.wrapper {
            position: absolute;
            top: 5%;
            right: 1%;
            width: 600px;
            height: 900px;
        }

        #right-panel, #right-panel-body {
            position: absolute;
            width: 600px;
            height: 950px;
        }

        #right-panel-body {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="wrap" class="my-map">
    <div id="mapContainer" class="amap-container"></div>
    <div id="left-panel" class="left-panel"></div>
    <div class='wrapper'>
        <canvas id="right-panel"></canvas>
        <div id="right-panel-body">
            <div id="right-up-panel" style="width: 100%; height: 320px;"></div>
            <div style="width: 100%; height: 310px;">
                <div id="right-mid-left-panel" style="width: 38%; float: left"></div>
                <div id="right-mid-right-panel" style="width: 62%; float: left"></div>
            </div>
            <div id="right-bot-panel" style="width: 100%"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window._AMapSecurityConfig = {
        serviceHost: '/_AMapService'
    }
</script>
<script src="/static/panel.js"></script>
<script src="/static/iconGen.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="//webapi.amap.com/maps?v=1.4.15&key=736114382e4cd8877312b9345a0f3c9e"></script>
<script src="//webapi.amap.com/loca?v=1.3.2&key=736114382e4cd8877312b9345a0f3c9e"></script>
<script src="//a.amap.com/Loca/static/dist/jquery.min.js"></script>
<script src="/static/plotly.min.js" charset="utf-8"></script>
<script>
    let infoWindow, map, level = 12,
        center = {lng: 120.14325, lat: 30.281472}; // amap location
    // center = {lat: 30.1706, lng: 119.866875};

    function mapFeatureClick(e) {
        if (!infoWindow) {
            infoWindow = new AMap.InfoWindow({autoMove: true, isCustom: false});
        }
        let extData = e.target.getExtData();
        infoWindow.setContent("<div class='myinfowindow'><h5>" + extData.name + "</h5><div>" + extData.desc + "</div></div>");
        infoWindow.open(map, e.lnglat);
    }

    map = new AMap.Map("mapContainer",
        {
            mapStyle: "amap://styles/grey",
            center: new AMap.LngLat(center.lng, center.lat),
            level: level,
            keyboardEnable: true,
            dragEnable: true,
            scrollWheel: true,
            doubleClickZoom: true,
            resizeEnable: true,
            zooms: [11, 14]
        });
    //    new AMap.TileLayer.RoadNet({map: map, zIndex: 2});

    map.on('complete', function () {
        map.plugin(["AMap.OverView", "AMap.Scale"], function () {
            map.addControl(new AMap.OverView({isOpen: true}));
            map.addControl(new AMap.Scale);
        });
        console.log("Complete!");
    });

</script>
<!-- Helper functions -->
<script>
    function redrawMap() {
        display_fire();
        display_fire_station();
        display_population();
        display_enterprise();
        display_duration();
    }

    function loadScript(src, callback) {
        let script = document.createElement('script');
        script.setAttribute('src', src);
        script.addEventListener('load', callback, {once: true})
        document.head.appendChild(script);
    }

    let begin = new Date(1970);
    begin.setFullYear(2020);
    begin.setMonth(7);
    let end = new Date(begin);
    end.setFullYear(2021);
    end.setMonth(1);
    end.setHours(23);
    end.setMinutes(59);
    end.setSeconds(59);

    function inTimePeriod(obj) {
        return begin <= obj.time && obj.time <= end;
    }

    function beforeEndTime(obj) {
        return obj.time <= end;
    }

    function typeSelected(obj) {
        if (typeSelected.filterType === "")
            return true;
        else
            return obj['type'] === typeSelected.filterType
    }

    typeSelected.filterType = "";

    function typeNotSelected(obj) {
        if (typeSelected.filterType === "")
            return false;
        else
            return obj['type'] !== typeSelected.filterType
    }

    function initComplete(file) {
        if (initComplete.info === undefined) {
            initComplete.info = {
                "fire": false,
                "fire station": false,
                "population & enterprise": false,
                "monthly": false,
                "duration": false,
            }
        }
        initComplete.info[file] = true;

        if (Object.values(initComplete.info).every(value => value)) {
            console.log("All data loaded!");
            drawLeftPanel();
            drawRightPanel();

            redrawMap();
        }
    }
</script>

<!-- Fire -->
<script>
    loadScript("/data/fire.js", function () {
        for (let fireElement of fire) {
            fireElement.time = new Date(fireElement.time)
        }
        initComplete("fire");
    })

    let fireLayer = new Loca.ScatterPointLayer({
        map: map,
        eventSupport: true,
        zIndex: 300
    });

    function display_fire() {
        let display_fire_list = fire.filter(inTimePeriod);
        fireLayer.setData(display_fire_list, {lnglat: 'lnglat'});
        fireLayer.setOptions({
            unit: 'meter',
            style: {
                radius: function (obj) {
                    return radius_fire(obj.value.level);
                },
                color: function (obj) {
                    return color_fire(obj.value);
                },
            }
        });
        fireLayer.render();
    }
</script>
<!-- Fire Station -->
<script>
    loadScript("/data/fire_station.js", function () {
        for (let fireStationElement of fire_station) {
            fireStationElement.time = new Date(fireStationElement.time)
        }
        initComplete("fire station");
    })

    let fireStationLayer = new Loca.ScatterPointLayer({
        map: map,
        eventSupport: true,
        zIndex: 301
    });

    /* filter is a function that returns bool */
    function display_fire_station() {
        let display_fire_station_list = [];
        for (const fireStationElement of fire_station) {
            if (beforeEndTime(fireStationElement)) {
                display_fire_station_list.push(fireStationElement);
            }
        }
        fireStationLayer.setData(display_fire_station_list, {lnglat: 'lnglat'});
        fireStationLayer.setOptions({
            unit: 'meter',
            style: {
                radius: function (obj) {
                    return radius_fire_station(obj.value.level);
                },
                color: "rgba(27, 169, 101, 0.8)",
            }
        });
        fireStationLayer.render();
    }
</script>
<!-- Population & Enterprise -->
<script>
    loadScript("/data/population_enterprise.js", function () {
        initComplete("population & enterprise");
        display_population();
        display_enterprise();
    })

    let enterpriseLayer = new Loca.PolygonLayer({
        map: map,
        eventSupport: true,
        zIndex: 297
    });

    let populationLayer = new Loca.PolygonLayer({
        map: map,
        eventSupport: true,
        zIndex: 298
    });

    function display_population() {
        let display_population_industry_list = [];

        let begin_column = Math.max((begin.getFullYear() - 2007) * 12 + begin.getMonth() - 1, 0);
        let end_column = Math.min((end.getFullYear() - 2007) * 12 + end.getMonth() - 1, (population_enterprise[0].length - 2) / 3 - 1);

        for (const locationElement of population_enterprise) {
            let i = begin_column, avg = 0;
            while (i <= end_column) {
                avg += locationElement[3 * i + 2];
                i++;
            }
            avg /= (end_column - begin_column);
            let lng = locationElement[1], lat = locationElement[0];
            display_population_industry_list.push({
                "coordinates": [
                    [lng, lat],
                    [lng, lat + 0.027],
                    [lng + 0.027, lat + 0.027],
                    [lng + 0.027, lat]
                ],
                "avg": avg
            });
        }

        populationLayer.setData(display_population_industry_list, {lnglat: 'coordinates'});
        populationLayer.setOptions({
            unit: 'px',
            style: {
                color: 'rgb(227, 209, 110)',
                opacity: function (obj) {
                    return opacity_population(obj.value.avg);
                }
            }
        });
        populationLayer.render();
    }

    function display_enterprise() {
        let display_population_enterprise_list = [];

        let begin_column = Math.max((begin.getFullYear() - 2007) * 12 + begin.getMonth() - 1, 0);
        let end_column = Math.min((end.getFullYear() - 2007) * 12 + end.getMonth() - 1, (population_enterprise[0].length - 2) / 3 - 1);

        for (const locationElement of population_enterprise) {
            let i = begin_column, max_capital = 0, max_count = 0;
            while (i <= end_column) {
                max_capital = Math.max(max_capital, locationElement[3 * i + 3]);
                max_count = Math.max(max_count, locationElement[3 * i + 4]);
                i++;
            }
            let lng = locationElement[1], lat = locationElement[0];
            display_population_enterprise_list.push({
                "coordinates": [
                    [lng, lat],
                    [lng, lat + 0.027],
                    [lng + 0.027, lat + 0.027],
                    [lng + 0.027, lat]
                ],
                "max_capital": max_capital,
                "max_count": max_count
            });
        }

        enterpriseLayer.setData(display_population_enterprise_list, {lnglat: 'coordinates'});
        enterpriseLayer.setOptions({
            unit: 'px',
            style: {
                color: 'rgb(136, 91, 193)',
                opacity: function (obj) {
                    return opacity_enterprise(obj.value.max_capital, obj.value.max_count);
                }
            }
        });
        enterpriseLayer.render();
    }
</script>
<!-- Monthly statistics -->
<script>
    loadScript("/static/monthly.js", function () {
        initComplete("monthly");
    })
</script>
<!-- Duration statistics -->
<script>
    loadScript("/static/duration.js", function () {
        initComplete("duration");
    })

    let durationLayer = new Loca.PolygonLayer({
        map: map,
        eventSupport: true,
        zIndex: 299
    });

    function display_duration() {

        let idx = drawLeftPanel.settings.minute === 5 ? 0 : drawLeftPanel.settings.minute === 7 ? 1 : 2;

        let display_duration_list = [];
        for (const durationElement of duration) {
            for (const fire_station_element of fire_station) {
                if (fire_station_element["station_code"] === durationElement["station_code"]) {
                    if (beforeEndTime(fire_station_element)) {
                        display_duration_list.push(...durationElement["data"][idx]);
                    }
                    break;
                }
            }
        }
        durationLayer.setData(display_duration_list, {
            lnglat: 'lnglat'
        });
        durationLayer.setOptions({
            style: {
                color: '#9AFF88',
                opacity: 0.15,
            }
        });
        durationLayer.render();
    }
</script>
</body>
</html>
