<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fire Station</title>
</head>

<body>
<div style="width: 1000px; height: 800px;">
    <svg width="1000" height="800"></svg>
    <h1>123</h1>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-geo-projection.v3.min.js"></script>
<script>
    let pic_width = 8704;
    let pic_height = 6912;

    function getColor() {
        if (!('count' in getColor))
            getColor.count = 0;
        let scheme1 = ['#a6cee3', '#1f78b4', '#b2df8a', '#33a02c', '#fb9a99', '#e31a1c', '#fdbf6f', '#ff7f00', '#cab2d6', '#6a3d9a', '#ffff99', '#b15928'];
        let scheme2 = ['#8dd3c7', '#ffffb3', '#bebada', '#fb8072', '#80b1d3', '#fdb462', '#b3de69', '#fccde5', '#d9d9d9', '#bc80bd', '#ccebc5', '#ffed6f']
        if (getColor.count >= scheme1.length) return '#FFFFFF'
        return scheme1[getColor.count++]
    }

    const svg = d3.select("svg"),
        width = +svg.attr("width"),
        height = +svg.attr("height");

    const x_move_factor = width / 2;
    const y_move_factor = height / 2;

    const gfg = d3
        .geoMercator()
        .scale(width * 20)
        .rotate([0, 0])
        .center([119.55391690035734, 29.860715859217756])
        // .center([119.5, 29.9])
        .translate([0, 0]);

    g = svg.append("g")
        .attr("transform", `translate(${x_move_factor},${y_move_factor})`).on("mousemove", function () {
            let coord = gfg.invert(d3.mouse(this));
            d3.select("h1").text(`${coord[0].toFixed(3)}, ${coord[1].toFixed(3)}`);
        });

    function population_interpolate(density) {
        let min_density = 0.1028831228613853;
        let max_density = 17573.560546875;
        return d3.interpolateRgb("red", "green")((density - min_density) / (max_density - min_density));
    }

    let month_sel = 157;
    // 30.502, 119.484
    //29.860715859217756, 119.55391690035734
    // 31.902032349786307, 122.52776861236988
    // 27.8193993686492, 116.5800651883448

    d3.json(
        "../data/geojson.json",
        function (data) {
            g.append("image")
                .attr('id', 'map')
                .attr("xlink:href", "map.jpg")
                .attr("transform", `translate(${-pic_width / 2},${-pic_height / 2}) scale(1)`);

            g.selectAll("path").data(data.features).enter().append("path") /* data.features to fill */
                // `${population_interpolate(data.features.properties["population_density"][month_sel])}`
                .attr("fill", function (d) {
                    return population_interpolate(d.properties.population_density[month_sel]);
                })
                .attr("fill-opacity", "0.4")
                .attr("d", d3.geoPath().projection(gfg))
                .style("stroke", "#000000")
                .style("stroke-width", "0.3px");

            // g.selectAll(".pin").data(places).enter().append("circle")
            //                 .attr("r", 5)
            //     .attr("transform", function (d) {
            //         return "translate(" + projection([
            //             d.location.longitude,
            //             d.location.latitude
            //         ]) + ")";
            //     });

            // TODO: display fire station here

            // https://stackoverflow.com/questions/32734822/svg-d3-js-how-to-selectall-using-condition
        });

    g1 = svg.append("g")
        .attr("transform", `translate(${x_move_factor},${y_move_factor})`);

    // d3.json(
    //     "../data/fire.json",
    //     function (data) {
    //         for (let key in data) {
    //             let color = getColor();
    //             if (color === "#FFFFFF") break; // TODO: remove this line
    //             g1.selectAll(".pin").data(data[key]).enter().append("circle")
    //                 .attr("class", "datapoint")
    //                 .attr("r", 4)
    //                 .attr("fill", "red")
    //                 .attr("fill-opacity", "0.01")
    //                 .attr("transform", function (d) {
    //                     return "translate(" + gfg([d["lon"], d["lat"]]) + ")";
    //                 });
    //         }
    //     });

    console.log(gfg.invert([1000, 800]));
    console.log(gfg.invert([-1000, -800]));

    // para coor
    var scale_pc = [];
    var axis_pc = [];
    var a,s;
    var color_normal = d3.color("blue");
    color_normal.opacity = 0.07;
    var color_highlight = d3.color("red");
    var color_lowlight = d3.color("blue");
    color_lowlight.opacity = 0.03;

    svg2 = d3.select("body")
        .append("svg")
        .attr("width", 1100)
        .attr("height", 1800);

    d3.json("../data/fire_mul.json",function(data){
        console.log(data)
        // var dt = data.distr
        data = data.features
        
        var dimensions = [(d)=>d.year, (d)=>d.population, (d)=>d.hour, (d)=>d.day, (d)=>d.rain, (d)=>d.temp];
        var txts = ["year", "population", "hour", "month", "rain", "temperature"];
        var domains = [[2007,2020], [1,5], [0,24], [366,1], [0,550], [0,40]];

        for (let a = 0; a < dimensions.length; a++) {
            s = d3.scaleLinear()
                .domain(domains[a])
                .range([480,0]);
            scale_pc.push(s);

            if (txts[a]=="month"){
                s = d3.scaleBand()
                    .domain(["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", " "])
                    .range([0,480])
                    .paddingInner(1);
            }
            ax = d3.axisLeft(s);
            svg2.append("g")
                .attr("transform",`translate(${a*150 + 150},200)`)
                .call(ax);
            
            svg2.append("text")
                .attr("transform", `translate(${a*150 + 140},700)`)
                .attr("font-size", "15px")
                .text(txts[a]);
            
            if (a > 0) {
                svg2.selectAll(".pc"+a).data(data).enter()
                    .append("line")
                    .attr("class", "pc"+a)
                    .attr("x1",150*a)
                    .attr("x2",150*(1+a))
                    .attr("y1",(d) => scale_pc[a-1](dimensions[a-1](d))+200)
                    .attr("y2",(d) => scale_pc[a](dimensions[a](d))+200)
                    .attr("stroke",color_normal)
                    .attr("stroke-width", "0.1")
            }

        }

        // select by brush
        var bruchGroup = svg2.append('g')
                        .attr('class', 'brush')
                        .call(d3.brush().on('end', function(d){
            area = d3.brushSelection(this)
            if (area != null){
            // console.log(area)
            var xmin = d3.min([area[0][0], area[1][0]])
            var xmax = d3.max([area[0][0], area[1][0]])
            var ymin = d3.min([area[0][1], area[1][1]])
            var ymax = d3.max([area[0][1], area[1][1]])
            // console.log(xmin, xmax, ymin, ymax)

            selected = []
            for (let a = 0; a < dimensions.length; a++){
                svg2.selectAll(".pc"+a).attr("stroke", function(d){
                    if ((this.x1.baseVal.value <= xmax && this.x1.baseVal.value >= xmin && this.y1.baseVal.value <= ymax && this.y1.baseVal.value >= ymin)||(this.x2.baseVal.value <= xmax && this.x2.baseVal.value >= xmin && this.y2.baseVal.value <= ymax && this.y2.baseVal.value >= ymin)){
                        selected.push(d.id)
                    }
                    return color_normal
                })
            }
        }else{
            selected = [];
        }
        console.log(selected.length);

        // recolor
        for (let a = 0; a < dimensions.length; a++){
            svg2.selectAll(".pc"+a).attr("stroke", function(d){
                if (selected.length == 0){
                    return color_normal
                }else{
                    for (let i = 0; i < selected.length; i++) {
                        if (d.id == selected[i]){
                            return color_highlight
                        }
                    }
                    return color_lowlight
                }
            })
        }

    }))

    })

    let zoom = d3.zoom()
        // .scaleExtent([1, 15])
        // .translateExtent([[-width / 2, -height / 2], [width * 3 / 2, height * 3 / 2]])
        .on("zoom", function () {
            g.attr("transform", `translate(${d3.event.transform.x + x_move_factor},${d3.event.transform.y + y_move_factor}) scale(${d3.event.transform.k})`);
            g1.attr("transform", `translate(${d3.event.transform.x + x_move_factor},${d3.event.transform.y + y_move_factor}) scale(${d3.event.transform.k})`);
            g1.selectAll(".datapoint").attr("r", 4 / d3.event.transform.k);
        })

    svg.call(zoom);

</script>
</body>
</html>
