<head>
    <!-- Load plotly.js into the DOM -->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
</head>

<body>
<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
</body>

<script>
    function loadScript(src, callback) {
        let script = document.createElement('script');
        script.setAttribute('src', src);
        script.addEventListener('load', callback, {once: true})
        document.head.appendChild(script);
    }

    loadScript("//192.168.1.100:5000/data/fire.js", function () {
        for (let fireElement of fire) {
            fireElement.time = new Date(fireElement.time)
        }

        let data = [{
            type: 'parcoords',
            pad: [80, 80, 80, 80],
            line: {
                color: unpack(fire, 'level'),
                colorscale: "Bluered"
            },

            dimensions: [{
                range: [1, 5],
                label: '\u706b\u60c5', // 火情
                values: unpack(fire, 'level')
            }, {
                label: '\u6c14\u6e29', // 气温
                values: unpack(fire, 'temp')
            }, {
                label: '\u4eba\u53e3', // 人口
                values: unpack(fire, 'popu')
            }, {
                label: '\u4f01\u4e1a', // 企业
                values: unpack(fire, 'indu')
            }]
        }];

        let layout = {
            width: 800
        };

        Plotly.newPlot('myDiv', data, layout);
    })

    function unpack(rows, key) {
        return rows.map(function (row) {
            return row[key];
        });
    }

</script>